
/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.container {
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

.flag1 {
  background-color: white;
  height: 50%;
  width: 100%;
  text-align: center;
}

.flag2 {
  background-color: firebrick;
  height: 50%;
  width: 100%;
  text-align: center;
  transition: all 2s;
}

.container:hover .flag2 {
  width: 40%;
  border-radius: 50%;
  transform: translateY(-50%) translateX(75%);
}


/* ----------------------------- */
.container2 {
  background-color: gray;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border: 1px solid black;
  position: relative;
}

.flag3,
.flag3::after {
  background-color: white;
  height: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  transition: all 2s;
  top: 0;
}
.flag3::after {
  content: '';
  background-color: transparent;
  transform: translate(-51.5%, 50%) scaleY(2);
}

.container2:hover .flag3::after {
  background-color: white;
  height: 140%;
  width: 15%;
  transform: translate(-60%, 20%);
  z-index: 1;
}
.container2:hover .flag3 {
  background-color: red;
}

.flag4,
.flag4::after {
  background-color: red;
  height: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  transition: all 2s;
  bottom: 0;
}
.flag4::after {
  content: '';
  background-color: transparent;
  transform: translate(-51.5%, -50%) scaleY(2);
}

.container2:hover .flag4::after {
  background-color: white;
  height: 140%;
  width: 15%;
  transform: translate(-60%, -20%) rotate(90deg);
  z-index: 1;
}
.container2:hover .flag4 {
  background-color: red;
}

/* ----------------------------- */
.box {
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
  width: 400px;
  outline: 1px solid black;
  position: relative;
}

.box::after {
  content: '';
  height: 2px;
  width: 500px;
  background-color: red;
  position: absolute;
  transform: translate(-50px, 199px);
}

.box::before {
  content: '';
  height: 500px;
  width: 2px;
  background-color: blue;
  position: absolute;
  transform: translate(199px, -50px);
}

.item1 {
  height: 200px;
  width: 200px;
  background-color: papayawhip;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: all 2s;
}
.box:hover .item1 {
  transform-origin: 100% -100%;
  transform: scale(2);
}

.item2 {
  height: 200px;
  width: 200px;
  background-color: whitesmoke;
  border-top: 2px solid black;
  border-right: 2px solid black;
}